{% load static %}
<!DOCTYPE html>
<!--  Last Published: Sun Aug 18 2019 07:38:45 GMT+0000 (UTC)  -->
<html data-wf-page="5d36f135c1ce5846aeeb2d69" data-wf-site="5d36f135c1ce58ae95eb2d64">
 <head>
  <meta charset="utf-8"/>
  <title>
   CLINIC.link
  </title>
  <meta content="KOMMUNIKATION in der Klinik leicht gemacht...." name="description"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <link href="{% static 'ukgm_theme/css/normalize.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'ukgm_theme/css/webflow.css' %}" rel="stylesheet" type="text/css"/>
  <link href="{% static 'ukgm_theme/css/ukgm.webflow.css' %}" rel="stylesheet" type="text/css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript">
  </script>
  <script type="text/javascript">
   WebFont.load({  google: {    families: ["Ubuntu:300,300italic,400,400italic,500,500italic,700,700italic","Varela Round:400"]  }});
  </script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">
   !function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);
  </script>
  <link href="{% static 'ukgm_theme/icons/favicon.png' %}" rel="shortcut icon" type="image/x-icon"/>
  <link href="{% static 'ukgm_theme/icons/webclip.png' %}" rel="apple-touch-icon"/>
 </head>
 <body>
  <header class="header">
   <div class="container w-container">
    <div class="logo-wrapper w-clearfix">
     <img alt="" class="image-2" height="44" sizes="(max-width: 479px) 100vw, 44px" src="{% static 'ukgm_theme/images/Logo_App-2.png' %}" srcset="{% static 'ukgm_theme/images/Logo_App-2-p-500.png' %} 500w,  {% static 'ukgm_theme/images/Logo_App-2-p-800.png' %} 800w,  {% static 'ukgm_theme/images/Logo_App-2-p-1080.png' %} 1080w,  {% static 'ukgm_theme/images/Logo_App-2-p-1600.png' %} 1600w,  {% static 'ukgm_theme/images/Logo_App-2-p-2000.png' %} 2000w,  {% static 'ukgm_theme/images/Logo_App-2-p-2600.png' %} 2600w,  {% static 'ukgm_theme/images/Logo_App-2.png' %} 3175w" width="44"/>
     <h1 class="logo-text">
      CLINIC.link
     </h1>
    </div>
    <h1 class="heading mobile">
     <strong>
      KOMMUNIKATION in der Klinik leicht gemacht....
     </strong>
     <br/>
    </h1>
    <p class="main-subtitle">
     Organisieren und koordinieren Sie Ihr Team in der Klinik – haben Sie dabei Kommunikation, Termine und Weiterbildung in einer Hand. Jetzt ganz bequem die Kommunikationsplattform
     <strong>
      CLINIC.link
     </strong>
     im App Store oder im Play Store herunterladen.
    </p>
    <a class="app-button w-inline-block" href="#">
     <img alt="" src="{% static 'ukgm_theme/images/app-store-apple.png' %}" width="141"/>
    </a>
    <a class="app-button w-inline-block" href="#">
     <img alt="" src="{% static 'ukgm_theme/images/app-store-google.png' %}" width="141"/>
    </a>
   </div>
  </header>
  <section class="section">
   <div class="w-container">
    <div class="w-row">
     <div class="w-col w-col-6">
      <h2>
       CLINIC.link
       <br/>
      </h2>
      <div class="feature-group push-down">
       <p class="paragraph-11">
        Kommunikation innerhalb des Teams ist die Grundlage einer jeder exzellenten Behandlung von Patienten in der Klinik. Die neue Kommunikationsplattform CLINIC.link  bietet zahlreiche Möglichkeiten des Informationsaustausches an. Von Terminankündigung bis zur Chatfunktion können moderne und digitale Tools die Planung wichtiger Abläufe und Strukturen erleichtern. Des Weiteren bietet CLINIC.link  die Planung der Fachartzweiterbildung und gibt den Personalverantwortlichen Einblicke in die Fortschritte der Mitarbeiter, die eine effektivere Gestaltung der Rotationsabfolgen zulässt. Schließlich kann die Zuteilung wichtiger Aufgaben für Teammitglieder übersichtlicher organisiert werden.
        <br/>
       </p>
      </div>
      <div class="line w-hidden-main w-hidden-medium">
      </div>
     </div>
     <div class="center w-col w-col-6">
      <div class="image-crop">
       <img alt="" class="image" sizes="(max-width: 479px) 48vw, (max-width: 767px) 269px, (max-width: 991px) 283.1875px, 340px" src="{% static 'ukgm_theme/images/Logo_App-2.png' %}" srcset="{% static 'ukgm_theme/images/Logo_App-2-p-500.png' %} 500w,  {% static 'ukgm_theme/images/Logo_App-2-p-800.png' %} 800w,  {% static 'ukgm_theme/images/Logo_App-2-p-1080.png' %} 1080w,  {% static 'ukgm_theme/images/Logo_App-2-p-1600.png' %} 1600w,  {% static 'ukgm_theme/images/Logo_App-2-p-2000.png' %} 2000w,  {% static 'ukgm_theme/images/Logo_App-2-p-2600.png' %} 2600w,  {% static 'ukgm_theme/images/Logo_App-2.png' %} 3175w" width="340"/>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="w-container">
    <div class="center-title">
     <h2>
      Registrieren Sie sich mit Ihrer Klinikadresse
     </h2>
     <p class="subtitle">
      Ist Ihre Klinik bei uns registriert, können Sie sich mit Ihrer Klinikadresse anmelden…
     </p>
    </div>
    <div class="w-row">
     <div class="push-down-column w-col w-col-3">
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icon-cloud_1icon-cloud.png' %}" width="36"/>
       <h3>
        <strong>
         Sicherer Dokumentenspeicher
        </strong>
        <br/>
       </h3>
       <p>
        Alle Dokumente werden in den Speicher des jeweiligen Smartphones hinterlegt, damit eine Offline-Ansicht möglich ist (Dienstanweisungen, Dienstpläne, Rotationspläne, Fachliteratur).
        <br/>
       </p>
      </div>
      <div class="line">
      </div>
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icon-people_1icon-people.png' %}" width="28"/>
       <h3>
        <strong>
         Chatten Sie mit Ihren Arbeitskollegen*innen
        </strong>
       </h3>
       <p>
        Nutzen Sie die Möglichkeiten des Informationsaustausch im Chat-Modus.
        <br/>
       </p>
      </div>
      <div class="line">
      </div>
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icon-pen_1icon-pen.png' %}" width="26"/>
       <h3>
        <strong>
         Aufgaben strukturieren und planen
        </strong>
        <br/>
       </h3>
       <p>
        Teilen Sie Ihren Mitarbeitern*innen Aufgaben zu, welche mit einer Abgabefrist versehen werden können. Ebenfalls können verschiedene Aufgaben auch Mitarbeiter-Gruppen zugeteilt werden, welche diese untereinander koordinieren.
        <br/>
       </p>
      </div>
      <div class="line w-hidden-main w-hidden-medium">
      </div>
     </div>
     <div class="center w-col w-col-6">
      <img alt="" class="image" sizes="(max-width: 479px) 48vw, (max-width: 767px) 269px, (max-width: 991px) 283.1875px, 429px" src="{% static 'ukgm_theme/images/Frame-2-2.png' %}" srcset="{% static 'ukgm_theme/images/Frame-2-2-p-500.png' %} 500w,  {% static 'ukgm_theme/images/Frame-2-2.png' %} 768w" width="429"/>
      <div class="line w-hidden-main w-hidden-medium">
      </div>
     </div>
     <div class="push-down-column w-col w-col-3">
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icon-folder_1icon-folder.png' %}" width="27"/>
       <h3>
        Wichtige Dokumente
       </h3>
       <p>
        Alle Dokumente werden von Ihnen selbst strukturiert und können dementsprechend leichter gefunden werden.
       </p>
      </div>
      <div class="line">
      </div>
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icons8-overview_pages_4_filled.png' %}" width="27"/>
       <h3>
        <strong>
         Planung der Facharztweiterbildung
        </strong>
        <br/>
       </h3>
       <p>
        Generieren Sie eine schnelle Übersicht über Ihren Fortschritt während Ihrer Facharztweiterbildung. Sie und Ihr Vorgesetzter sind somit jederzeit über aktuellen Stand informiert, wodurch eine effektivere Gestaltung der Rotablationsabfolgen gegeben ist.
       </p>
      </div>
      <div class="line">
      </div>
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icons8-phone_disconnected_filled.png' %}" width="27"/>
       <h3>
        <strong>
         Telefonbuch aller Teamkollegen
        </strong>
        <br/>
       </h3>
       <p>
        Die Nummern aller Teamkollegen im schnellen Telefonbuch immer zur Hand.
        <br/>
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section grey">
   <div class="w-container">
    <div class="w-row">
     <div class="center w-col w-col-6">
      <div class="image-crop">
       <img alt="" class="image" sizes="(max-width: 479px) 48vw, (max-width: 767px) 269px, (max-width: 991px) 283.1875px, 389px" src="{% static 'ukgm_theme/images/Frame-2-3.png' %}" srcset="{% static 'ukgm_theme/images/Frame-2-3-p-500.png' %} 500w,  {% static 'ukgm_theme/images/Frame-2-3.png' %} 768w" width="389"/>
      </div>
      <div class="line w-hidden-main w-hidden-medium">
      </div>
     </div>
     <div class="w-col w-col-6">
      <h2 class="heading-2">
       <strong>
        Eine strukturierte Übersicht Ihrer Aufgaben
       </strong>
       <br/>
      </h2>
      <p class="subtitle">
       An der Arbeit, von unterwegs oder zu Hause. Egal wo Sie sich gerade befinden haben Sie die Möglichkeit Ihre Mitarbeiter zu koordinieren und Aufgaben zu verteilen.
      </p>
      <div class="feature-group push-down">
       <img alt="" src="{% static 'ukgm_theme/images/icons8-task_filled.png' %}" width="27"/>
       <h3>
        Aufgaben verteilen
       </h3>
       <p>
        Teilen Sie die Aufgaben an Gruppen oder einzelne Mitarbeiter, welche jeweils über die App benachrichtigt werden.
        <br/>
       </p>
      </div>
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icons8-system_task.png' %}" width="27"/>
       <h3>
        Statistiken der verteilten Aufgaben
       </h3>
       <p>
        Eine Übersicht Ihrer verteilten Aufgaben, mit den jeweiligen Namen und dem Status, ist ebenfalls gegeben.
        <br/>
       </p>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section">
   <div class="w-container">
    <div class="w-row">
     <div class="w-col w-col-6">
      <h2 class="heading-3">
       Übersicht Ihrer Dienstpläne und Dokumente
       <br/>
      </h2>
      <p class="subtitle">
       Alle Dokumenten sowie Ihr Dienstplan kann jederzeit – auch ohne Internetverbindung - eingesehen werden.
       <br/>
      </p>
      <div class="feature-group push-down">
       <img alt="" src="{% static 'ukgm_theme/images/icons8-appointment_reminders_filled.png' %}" width="27"/>
       <h3>
        Änderungen von wichtigen Dokumenten
        <br/>
       </h3>
       <p>
        Alle Mitarbeiter erhalten eine Benachrichtigung, sobald ein Dokument verändert wurde. Die genauen Änderungen sind ebenfalls zu sehen.
       </p>
      </div>
      <div class="feature-group">
       <img alt="" src="{% static 'ukgm_theme/images/icons8-share.png' %}" width="27"/>
       <h3>
        Dokumente über die App teilen
        <br/>
       </h3>
       <p>
        Es besteht die Möglichkeit alle Dokumente mit anderen Applikationen zu teilen.
       </p>
      </div>
      <div class="line w-hidden-main w-hidden-medium">
      </div>
     </div>
     <div class="center w-col w-col-6">
      <div class="image-crop">
       <img alt="" class="image" sizes="(max-width: 479px) 48vw, (max-width: 767px) 269px, (max-width: 991px) 283.1875px, 391px" src="{% static 'ukgm_theme/images/Frame-2-4.png' %}" srcset="{% static 'ukgm_theme/images/Frame-2-4-p-500.png' %} 500w,  {% static 'ukgm_theme/images/Frame-2-4.png' %} 768w" width="391"/>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="section grey buy">
   <div class="w-container">
    <div class="w-row">
     <div class="w-col w-col-6">
      <h2 class="buy-title">
       Registrieren Sie sich jetzt und wir werden uns schnellstmöglich bei Ihnen melden.
       <br/>
      </h2>
     </div>
     <div class="align-right w-col w-col-6">
      <a class="app-button buy w-inline-block" href="#">
       <img alt="" src="{% static 'ukgm_theme/images/app-store-apple.png' %}" width="141"/>
      </a>
      <a class="app-button buy w-inline-block" href="#">
       <img alt="" src="{% static 'ukgm_theme/images/app-store-google.png' %}" width="141"/>
      </a>
     </div>
    </div>
   </div>
  </section>
  <footer class="section sign-up">
   <div class="container-3 w-container">
    <a class="link-block-2 w-inline-block" href="mailto:support@cliniclink.de?subject=Registrieren">
     <div class="div-block">
      <div class="text-block-2">
       Registrieren
      </div>
     </div>
    </a>
   </div>
  </footer>
  <footer class="section footer">
   <div class="w-container">
    <div class="w-row">
     <div class="footer-left-col w-col w-col-6">
      <img alt="" class="footer-logo" sizes="(max-width: 479px) 64vw, 38px" src="{% static 'ukgm_theme/images/Logo_App-2.png' %}" srcset="{% static 'ukgm_theme/images/Logo_App-2-p-500.png' %} 500w,  {% static 'ukgm_theme/images/Logo_App-2-p-800.png' %} 800w,  {% static 'ukgm_theme/images/Logo_App-2-p-1080.png' %} 1080w,  {% static 'ukgm_theme/images/Logo_App-2-p-1600.png' %} 1600w,  {% static 'ukgm_theme/images/Logo_App-2-p-2000.png' %} 2000w,  {% static 'ukgm_theme/images/Logo_App-2-p-2600.png' %} 2600w,  {% static 'ukgm_theme/images/Logo_App-2.png' %} 3175w" width="38"/>
      <div class="footer-text">
       CLINIC.link © Copyright 2019 AID.connect UG.
      </div>
     </div>
     <div class="footer-right-col w-col w-col-6">
      <a class="w-inline-block" href="{% url 'datenschutz' %}">
       <div class="text-block">
        Datenschutz
       </div>
      </a>
      <a class="w-inline-block" href="{% url 'impressum' %}">
       <div class="text-block">
        Impressum
       </div>
      </a>
      <a class="w-inline-block" href="mailto:support@cliniclink.de?subject=Support">
       <div class="text-block">
        Support
       </div>
      </a>
     </div>
    </div>
   </div>
  </footer>
  <script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript">
  </script>
  <script src="{% static 'ukgm_theme/js/webflow.js' %}" type="text/javascript">
  </script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
 </body>
</html>